html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
#theme-toggle {
    align-content: center;
    margin-right: 0px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 15px black;
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark theme styles */
  body.dark-mode {
    --bg-color: #ffffff;
    --text-color: rgb(14 11 44);
  }

  :root {
    --bg-color: rgb(14 11 44);
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
  }







.section{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.section.visible{
    opacity: 1;
    transform: translateY(0);
}

header{
    z-index: 1000;
    background-color: var(--bg-color);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(41, 38, 71);
    position: fixed;
    width: 100%;

    .logo{
        font-size: 25px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }

    .nav-list{
        list-style: none;
        display: flex;
        padding: 10px;

        li{
            padding-right: 15px;
            color: white;
            font-family:Verdana, Geneva, Tahoma, sans-serif;

            a{
                text-decoration: none;
                color: var(--text-color);
                transition: .3s ease-in-out;
            }
            a:hover{
                color: grey;
            }
        }
    }

    .hamburger{
        display: none;
    }
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
.container-text{
    margin-top: 60px;
}
.container-text h1{
    font-size: 50px;
    
    margin-bottom: 10px;
}

.container-text h2{
    color: rgb(143, 143, 143);
    margin-bottom: 5px;
    display: inline-block;
}


.container-text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 10px 30% 10px 10px;
    margin-bottom: 40px;
}
.container-text a{
    margin-right: 5px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: rgb(47, 47, 255);
    border-radius: 7px;
    transition: .3s;
    margin-bottom: 20px;
    
}
.container-text a:hover{
    background-color: rgb(13, 13, 245);
    
}
#resume{
    background-color: transparent;
    border: 2px solid rgb(143, 143, 143);
    color: rgb(143, 143, 143);
}
#resume:hover{
    background-color: rgba(10, 9, 9, 0.212);
}
.container-image{
    margin-top: 20px;
    height: 350px;
    cursor: pointer;
}
.container-image img{
    height: 100%;
    transition: .4s ease;
}
.container-image img:hover{
    padding-left: 40px;
}
#about-section{
    background-color: rgb(41, 38, 71);
    padding: 20px;
}
#about-section h2{
    font-size: 30px;
    color: white;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
}
.about-text{
    max-width: 600px;
}
.about-text h3 {
    color: white;
    margin-bottom: 10px;
}
.about-text p{
    margin-bottom: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.about-images{
    width: 650px;
    text-align: center;
}
#firstImg{
    background-color: rgb(65, 63, 94);
    width: 600px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
#firstImg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.secondImg{
    height: 200px;
    width: 300px;
    background-color: rgb(65, 63, 94);
    border-radius: 10px;
}
#project-section{
    position: relative;
    padding: 20px;
}
#project-section h2{
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
#project-section button{
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .4s;
}
#project-section button:hover{
    background-color: rgb(149, 35, 255);
}
#project-section button:visited{
    background-color: rgb(170, 79, 255);
}
.project-wrapper{
    padding-bottom: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.project-container{
    text-align: center;
    width: 600px;
    height: 400px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: rgb(65, 63, 94);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.411);
}
#graphics-cards .project-container{
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 450px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: rgb(65, 63, 94);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.411);
}
.project-container h5{
    /* text-align: left; */
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.project-container p{
    text-align: left;
    color: white;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}
.project-container img{
    height: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-container a{
    padding: 10px 20px;
    background-color: rgb(47, 47, 255);
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: .3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.315);
}
.project-container a:hover{
    background-color: rgb(13, 13, 245);
}

.see-more{
    margin-top: 10px;
    position: absolute;
    bottom: 0px;

    a{
        padding: 10px 20px;
        text-decoration: none;
        background-color: white;
        color: rgb(11, 8, 37);
        border-radius: 100px;
    }
}

#thin-line{
    height: 2px;
    background-color: rgb(65, 63, 94);
}
#skills-section{
    
    padding: 20px;
}
#skills-section h2{
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    border: none;
}

.skills-wrapper h3{
    color: rgb(143, 143, 143);
    margin-bottom: 20px;
}
.skills{
    text-align: center;
}

.skills-wrapper ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.ul  div{
    text-align: center;
    margin-right: 10px;
    display: flex;
    background-color: rgb(143, 143, 143);
    padding: 5px;
    border-radius: 50px;
    width: 45%;
    margin-bottom: 10px;
}

.skills-wrapper li{
    
    position: relative;
    border-radius: 50px;
    width: 600px;
    font-size: 15px;
    color: white;
    margin-bottom: 0px;
    margin-right: 5px;
    padding: 15px 10px;
    transition: .5s;
    background-color: rgb(128, 1, 247);
}
#html{
    animation: html 3s infinite;
}
#css{
    animation: css 3s infinite;
}
#javascript{
    animation: javascript 3s infinite;
}
#react{
    animation: javascript 3s infinite;
}
#coreldraw{
    animation: coreldraw 3s infinite;
}
#photoshop{
    animation: photoshop 3s infinite;
}
#figma{
    animation: figma 3s infinite;
}
#adobe-illustrator{
    animation: illustrator 3s infinite;
}
@keyframes html {
    0%{
        width: 25%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css {
    0%{
        width: 25%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript {
    0%{
        width: 25%;
    }
    100%{
        width: 50%;
    }
}
@keyframes coreldraw {
    0%{
        width: 25%;
    }
    100%{
        width: 85%;
    }
}
@keyframes photoshop {
    0%{
        width: 25%;
    }
    100%{
        width: 75%;
    }
}
@keyframes figma {
    0%{
        width: 25%;
    }
    100%{
        width: 65%;
    }
}
@keyframes illustrator {
    0%{
        width: 25%;
    }
    100%{
        width: 40%;
    }
}

.soft-skill-wrapper{
    margin-top: 40px;
    justify-content: space-around;
    text-align: center;
    display: grid;
    grid: auto auto/ auto auto;
}
.soft-skill .fa-solid{
    color: grey;
    font-size: 50px;
    margin-bottom: 20px;
}
.soft-skill h4{
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills-wrapper p{
    text-align: left;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}
.skills-wrapper a{
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid rgb(143, 143, 143);
    border-radius: 30px;
    transition: .3s;
}
.skills-wrapper a:hover::after{
    content: attr(data-title);
    position: absolute;
    bottom: -1.5em;
    left: 100%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 0.5em;
    border-radius: 20px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
    z-index: 10;
}

.skills-wrapper a:hover{
    background-color: rgb(149, 35, 255);
    color: white;
    border: none;
}

#testimonial-section{
    padding: 20px;
    background-color: white;
}
#testimonial-section h2{
    font-size: 30px;
    color: rgb(11, 8, 37);
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
.testimonal-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonal-container{
    margin-bottom: 40px;
    margin-top: 20px;
    width: 600px;
}
.testimonal-container h3{
    margin-bottom: 20px;
    color: rgb(11, 8, 37);
}
.testimonal-container img{
    height: 50px;
    border: 3px solid rgb(11, 8, 37);
    border-radius: 70px;
    margin-bottom: 20px;
}
.testimonal-container h5{
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(41, 38, 71);
}
.testimonal-container p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(11, 8, 37);
}
#contact{
    height: 100vh;
    padding: 20px;
}
#contact h2{
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
.contact-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.whatsappContact, .otherLinks{
    width: 600px;
    margin-bottom: 50px;
}
.whatsappContact p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-bottom: 20px;
}
.whatsappContact a{
    text-decoration: none;
    color: white;
    background-color: rgb(1, 148, 1);
    padding: 15px 30px;
    border-radius: 10px;
    transition: .3s;
}
.whatsappContact a:hover{
    background-color: rgb(2, 105, 2);
}
.otherLinks a{
    display: block;
    margin-bottom: 10px;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    margin-right: 50%;
    font-weight: bold;
    transition: .4s ease;
}
.otherLinks a:hover{
    margin-left: 30px;
}
#gmail{
    background: linear-gradient(to right, red, green);
}
#Github{
    background-color: black;
    border: 2px solid white;

}
#X{
    background-color: black;
    border: 2px solid white;
}
#Instagram{
    background: linear-gradient(to right, yellow, red, purple);
}
#Linkedin{
    background-color: rgb(0, 81, 255);
}
#Behance{
    background-color: black;
    border: 2px solid white;
}
footer{
    background-color: rgb(5, 3, 22);
    height: 50vh;
    padding: 20px;
}
.footer p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
}
.footer a{
    display: block;
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
    transition: .3s;
}
.footer a:hover{
    color: grey;
}
.icon{
    text-align: center;
}
.icon img{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.icon p{
    color: grey;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}















@media(max-width: 850px){

    header{

        .nav-list{
            padding: 50px 80px 50px 50px;
            height: 100vh;
            background-color: var(--bg-color);
            flex-direction: column;
            position: fixed;
            z-index: 999;
            top: 74.5px;
            left: -300px;
            border-right: 1px solid rgb(41, 38, 71);
            transition: left .4s ease-in-out;

            li{
                line-height: 50px;
            }
        }

        .hamburger{
            display: flex;
            font-size: 25px;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .nav-list.visible{
        left: 0px;
    }
    
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        height: 90vh;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .container-text{
        margin-top: 60px;
    }
    .container-text h1{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .container-text h3{
        font-size: 18px;
        color: rgb(143, 143, 143);
        margin-bottom: 5px;
    }
    .container-text p{
        padding: 0px;
        margin-right: 70px;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .container-text a{
        font-size: 13px;
        margin-right: 5px;
        text-decoration: none;
        color: white;
        padding: 8px 14px;
        background-color: rgb(47, 47, 255);
        border-radius: 7px;
        transition: .3s;
        margin-bottom: 20px;
    }
    .container-text a:hover{
        background-color: rgb(13, 13, 245);
    }
    #resume{
        background-color: transparent;
        border: 2px solid rgb(143, 143, 143);
        color: rgb(143, 143, 143);
    }
    #resume:hover{
        background-color: rgba(10, 9, 9, 0.212);
    }
    .container-image{
        text-align: center;
        margin-top: 20px;
        height: 350px;
        width: 600px;
    }
    .container-image img{
        height: 100%;
    }
    #about-section{
        background-color: rgb(41, 38, 71);
        padding: 20px;
    }

    .about-images{
        width: 100%;
        text-align: center;
    }
    #firstImg{
        background-color: rgb(65, 63, 94);
        width: 100%;
        height: 180px;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 0px;
        
    }
    #firstImg img{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .secondImg{
        height: 180px;
        width: 200px;
        background-color: rgb(65, 63, 94);
        border-radius: 0px;
    }

    #project-section{
        padding: 20px;
    }
    #project-section h2{
        font-size: 30px;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 20px;
    }
    .project-wrapper{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .project-container{
        text-align: center;
        width: 400px;
        height: 300px;
        margin-right: 10px;
        margin-bottom: 30px;
        background-color: rgb(65, 63, 94);
        padding: 10px;
        border-radius: 0px;
    }
    #graphics-cards .project-container{
        text-align: center;
        width: 300px;
        height: 350px;
        margin-right: 10px;
        margin-bottom: 30px;
        background-color: rgb(65, 63, 94);
        padding: 10px;
        border-radius: 0px;
    }
    #graphics-cards .project-container img{
        height: 60%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .project-container h5{
        /* text-align: left; */
        font-size: 16px;
        color: white;
        margin-bottom: 10px;
        font-family: 'Courier New', Courier, monospace;
    }
    .project-container p{
        text-align: left;
        color: white;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
    }
    .project-container img{
        height: 50%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    .project-container a{
        font-size: 14px;
        padding: 7px 14px;
        background-color: rgb(47, 47, 255);
        text-decoration: none;
        color: white;
        border-radius: 20px;
        transition: .3s;
        
    }
    .project-container a:hover{
        background-color: rgb(13, 13, 245);
    }
    #skills-section{
        padding: 20px;
    }
    .ul  div{
        text-align: center;
        margin-right: 0px;
        display: flex;
        background-color: rgb(143, 143, 143);
        padding: 5px;
        border-radius: 50px;
        width: 100%;
        margin-bottom: 10px;
    }
    .skills-wrapper li{
        width: 90%;
        font-size: 15px;
        color: white;
        padding-bottom: 20px;
        margin-right: 5px;
        background-color: rgb(128, 1, 247);
    }
    .soft-skill .fa-solid{
        color: grey;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .soft-skill h4{
        margin-bottom: 30px;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
}





@media(max-width: 450px){
    .container-text a{
        font-size: 12px;
        margin-right: 3px;
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        background-color: rgb(47, 47, 255);
        border-radius: 7px;
        transition: .3s;
        margin-bottom: 20px;
    }

    #about-section{
        background-color: rgb(41, 38, 71);
        padding: 20px;
    }
    .about-text p{
        margin-bottom: 10px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
    }

    .about-images{
        width: 100%;
        text-align: center;
    }
    #firstImg{
        background-color: rgb(65, 63, 94);
        width: 100%;
        height: 180px;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 0px;
        
    }
    #firstImg img{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .secondImg{
        height: 110px;
        width: 47%;
        background-color: rgb(65, 63, 94);
        border-radius: 0px;
    }

    #project-section{
        padding: 20px;
    }
    .project-container p{
        text-align: left;
        color: white;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 10px;
    }
    .project-container img{
        height: 50%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .ul  div{
        text-align: center;
        margin-right: 0px;
        display: flex;
        background-color: rgb(143, 143, 143);
        padding: 5px;
        border-radius: 50px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .skills-wrapper li{
        width: 90%;
        font-size: 10px;
        color: white;
        padding: 10px 0px;
        margin-right: 5px;
        background-color: rgb(128, 1, 247);
    }

    #testimonial-section{
        padding: 20px;
        background-color: white;
    }
    .otherLinks a{
        display: block;
        margin-bottom: 10px;
        padding: 15px 30px;
        color: white;
        text-decoration: none;
        margin-right: 40%;
        font-weight: bold;
    }
    
}